google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
langchain-google-genai
langchain-mcp-adapters
python-dotenv
gitpython
ipykernel
pydantic
langchain_chroma
python-dotenv
unstructured[all-docs]
tqdm
python-dateutil
Flask 
requests 
flask-cors
typing_extensions
streamlit 
pymongo[srv]